@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');
$light-blue: #4BA7EE;
$mid-blue: #003970;
$dark-blue: #001841;
$grey: #4E5156;
$black: #000000;
$red: #DB171D;
$orange: #FFAB48;
$yellow: #FFEF63;
$background: #fafafa;
$main-font: 'Roboto', sans-serif;
$title-font: 'Roboto Slab', sans-serif;
